<aside>
	<div class="panel radius">
		<h3>Fontos</h3>
		<p>
			A Migration Aid csoportjai a Facebookon tartják egymással a kapcsolatot. Lépj velünk kapcsolatba, ha tevékenyen részt akarsz venni a Migration Aid munkájában.
		</p>
		<p>
			Kövesd <a href="https://www.facebook.com/migrationaid.org"><b>facebook-oldalunkat</b></a> ha tájékozódni és segíteni szeretnél, vagy ha segítségre szoruló menedékkérőket láttál.
		</p>
		<p>
			Adományaidat is várjuk, <a href="{{ site.url }}{{ site.baseurl }}/segits/"><strong>ezekre van szükségünk</strong></a>.
		</p>

		<p>
			<b>Már PayPalon is tudod segíteni a munkánkat!</b>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="43CN4MWABH62J">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logo-160.jpg" alt="Migration Aid">
		<p class="text-left">
			Migration Aid, segítünk az úton lévőknek!
		</p>
	</div>
</aside>
