<aside>
	<div class="panel radius">
		<h3>Fontos</h3>
		<p>
			A Migration Aid csoportjai a Facebookon tartják egymással a kapcsolatot. Lépj velünk kapcsolatba, ha tevékenyen részt akarsz venni a Migration Aid munkájában.
		</p>
		<p>
			Kövesd <a href="https://www.facebook.com/migrationaidhungary"><b>facebook-oldalunkat</b></a> ha tájékozódni és segíteni szeretnél, vagy ha segítségre szoruló menekülteket láttál.
		</p>
		<p>
			Elsődleges, hogy a jelenlegi helyzet <b>békésen oldódjék meg</b>, az agresszivitást, a konfliktusokat kerülni, megelőzni kell. Fontos az együttműködés a magyar hatóságokkal (Rendőrség, Bevándorlási Hivatal), munkájuk segítése a menekültek ellátásában.
		</p>
		<p>
			Adományaidat is várjuk, <a href="{{ site.url }}{{ site.baseurl }}/segits/"><strong>ezekre van szükségünk</strong></a>.
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logo-160.jpg" alt="Migration Aid">
		<p class="text-left">
			Migration Aid, segítünk az úton lévőknek!
		</p>
	</div>
</aside>
